* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* navbar-- */
nav {
  padding-top: 10px;
  min-height: 124px;
  font-family: "VAGRoundedBT", sans-serif;
  vertical-align: middle;
  text-align: center;
}
.navbar {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}
.logo {
  padding: 0;
}

.nav-right {
  width: 75%;
  display: flex;
  justify-content: flex-end;
}

.menus {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus li {
  display: inline-block;
  font-size: 18px;
  margin-right: 30px;
}
.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
  font-family: "kahve-diyari", sans-serif;
}
.languages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  font-family: "kahve-diyari", sans-serif;
}
.languages li {
  display: inline-block;
  font-size: 18px;
}
nav a {
  color: #00524d;
}

/* FOOTER */

@font-face {
  font-family: kahve-diyari;
  src: url(./VAGRON.TTF);
}
@font-face {
  font-family: kahve-diyari-thin;
  src: url(./Monotype\ \ -\ VAG\ Rounded\ Next\ Light.otf);
}

footer {
  width: 100%;
  height: 700px;
  padding: 100px 0;
  background-color: #00524d;
  color: #ffffff;
  font-size: 18px;
  display: flex;
}
footer a {
  color: white;
}
.footer-menu {
  width: 100%;
  height: 600px;

  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}
.footer-info {
  max-width: 340px;
}

footer .footer-menu .footer-info p {
  font-size: 25px;
  margin-bottom: 30px;
  font-family: "kahve-diyari", sans-serif;
}
.footer-info .social-medias i {
  font-size: 35px;
}

.footer-info .phone {
  font-size: 25px;
  font-family: "kahve-diyari";
}

.footer-links .bayi-giris {
  background-color: #dd8c33;
  color: white;
  padding: 15px 40px;
}

footer .footer-menu .social-medias li {
  display: inline-block;
  margin-right: 10px;
}
.footer-links ul {
  margin-bottom: 50px;
  padding: 0;
}
.footer-links {
  width: 265px;
}
footer .footer-links li {
  margin-top: 10px;
}

.footer-area {
  text-align: right;
}
.footer-area .mobil-uygulama {
  font-size: 25px;
  margin-bottom: 20px;
  font-family: "kahve-diyari", sans-serif;
}
.footer-area p {
  color: #d98833;
  margin-bottom: 100px;
}
.footer-area li {
  display: inline-block;
}

.copywright-kahve {
  overflow: hidden;
  padding: 30px 30px;
  font-size: 18px;
  display: flex;
}

/* responsive design */

@media screen and (max-width: 1120px) {
  .menus {
    display: none;
  }
  .nav-right {
    width: 50%;
  }

  footer {
    padding-top: 50px;
    height: 1090px;
  }
  .footer-menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100;
    font-size: 14.5px;
    text-align: center;
  }
  .footer-info {
    margin: auto;
  }

  .footer-links {
    margin: auto;
  }
  .footer-area {
    margin: auto;
    text-align: center;
    margin-top: 25px;
  }
  .footer-area p {
    margin-bottom: 25px;
  }
  .copywright-kahve {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .nav-right {
    display: block;
    width: 25%;
  }
}

@media screen and (max-width: 1300px) {
  .navbar .phone {
    display: none;
  }
  .footer-info .social-medias i {
    font-size: 18px;
  }
}
/************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html {
  line-height: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Vag";
  src: url(./font/Vag.woff2);
}
@font-face {
  font-family: "VagRoundedBT";
  src: url(./font/VAGRoundedBT.woff2);
}

/*header başlangıç*/
.container-header {
  overflow: hidden;
  text-align: center;
  background-color: #06514d;
}
.container-header .container {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  width: 70%;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.content-breadcrumb {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 15px;
  top: 30px;
  text-align: left;
}
.content-breadcrumb li a {
  display: inline-block;
  color: #ffffff;
  outline: none !important;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  font-family: "Vag", sans-serif;
  list-style: none;
  text-decoration: none;
}
.content-title {
  margin: 0;
  color: #ffffff;
  font-family: "Vag", sans-serif;
  font-size: 40px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  line-height: normal;
  font-weight: 400;
}

.content-title::after {
  width: 100%;
  color: #06514d;
  font-size: 90px;
  line-height: 90px;
  font-family: "Vag", sans-serif;
  position: absolute;
  left: 0;
  top: -50%;
  z-index: -1;
  content: attr(data-headline);
  -webkit-text-stroke: 1px #05423f;
  -webkit-text-fill-color: #06514d;
}

/*header bitiş*/

/*main1 başlangıç*/
.main1-con {
  background-color: #d98833;
  width: 100%;
  height: 500px;
}

.main1 {
  width: 80%;
  height: 400px;
}

.main1-left {
  width: 80%;
  color: white;
  margin: 40px;
  padding-left: 40px;
}

.main1-left h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 30px;
  font-family: "VAGRoundedBT", sans-serif;
}

.main1-left p {
  font-size: 20px;
  text-align: justify;
  padding-right: 75px;
  font-family: "Vag", sans-serif;
}

.main1-right {
  padding-top: 30px;
  padding-right: 40px;
}
/*main1 bitiş*/

/*main2 başlangıç*/
.main2 {
  width: 70%;
}

.main2 h2 {
  font-family: "VAGRoundedBT", sans-serif;
  font-size: 28px;
  color: #06514d;
  margin-bottom: 20px;
  margin-top: 0px;
  text-align: center;
}

.main2 p {
  text-align: center;
  margin-bottom: 25px;
  font-family: "VAG", sans-serif;
  font-size: 18px;
  line-height: normal;
  font-weight: normal;
}
/*main2 bitiş*/

/*main3 başlangıç*/
.row {
  width: 70%;
}

.col-6 {
  height: 350px;
  margin-bottom: 26px;
}

.r1,
.l2 {
  --bs-gutter-x: 0;
}

.l1 {
  background-color: #06514d;
  color: white;
}

.r2 {
  background-color: #d98833;
  color: white;
}

.l1 h2 {
  font-size: 28px;
  font-family: "VAGRoundedBT", sans-serif;
  font-weight: 500;
  line-height: normal;
}

.r2 h2 {
  font-size: 28px;
  font-family: "VAGRoundedBT", sans-serif;
  font-weight: 500;
  line-height: normal;
}

.uretim {
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.alt-cizgi {
  width: 100px;
  height: 0px;
  border: 2px solid white;
}

.l1,
.r2 p {
  line-height: 26px;
  text-align: justify;
  font-size: 18px;
  font-weight: normal;
  font-family: "Vag", sans-serif;
}
/*main3 bitiş*/
/**/
.nerdeyiz {
  text-align: center;
}
/**/
/*main4 başlangıç*/
.main4 {
  width: 70%;
}

.main4 h2 {
  font-family: "VAGRoundedBT", sans-serif;
  font-size: 28px;
  color: #06514d;
  margin-bottom: 20px;
  margin-top: 0px;
  text-align: center;
}

.main4 p {
  text-align: center;
  margin-bottom: 25px;
  font-family: "VAG", sans-serif;
  font-size: 18px;
  line-height: normal;
  font-weight: normal;
}

.main4 p strong {
  color: #dd8c33;
  font-weight: 600;
}
/*main4 başlangıç*/

/**/

/**/
